.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px; 
 }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  color: black;
  margin: 0 5px 0 0;
  font-size: 28px;
  background: none;
  border: 0 !important;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}

.header .ant-anchor { 
   display: flex; 
} 

.header .ant-anchor-ink {
  display: none;
}

.header .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}

.header:before,
.header:after {
  content: '';
  background: black;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

@media only screen and (max-width: 767px) {
    .mobileVisible {
      display: block;
  }
  
  .mobileHidden {
    display: none;
  }
}